# Config file for continuous integration at travis-ci.org
language: python

jobs:
  include:
    - os: linux
      language: python
      dist: xenial # Because python3.7
      python: "3.7"
      services:
        - docker # Needed for cibuildwheel

env:
  global:
    - TWINE_USERNAME=__token__ # Use API token to upload on Pypi
    - secure: ZzOgGykdKf8GIc8/ETLaxFLmrQDVHF9Y9KT+cMa52yKU4kK5HSJx2F4ONbkiZHYchBFbgKw+StLE6ipjOKcf2JTYujRNa6QPvqlRMoKCI62P7s+NWeWkhzXpUaKl4kqvyrJy4BEqYoWd04ETjlHKhT3Qpjo5O0WeXSbdMl6eI1K9bSnDb+PyO/TD0jyjZi85OhvhwXkjcomMvLLhJC+aCVrvGoUyNLGPI17H01/NRwKNNL7VN8p6Q8r85KFAxE+h1UklVm64JzInk65x8O44aNYDEZTEMfsnYRCaH3YyoNuOEr1PXqQ0opaT2m69TM831vdO4RSnHYcrwDEWIQTrIxqb2f/UWPlaxsE0N+n09rt3XFiyJtkePtp8UdHPmRVE7WkBODau9DWHdtbCdzj2poKgeL8rWd/yKdZOF5hTxRu/m0gSX38tfHrp0AKZAdJ/unsfk8Cljmb++dhQg1B5avKzju1cbIusYUUpnptGOGFdNjfRDBUh8J7eSdnGyFqK+3XfgDheBmPgE76ae0ZCcsXdLpsykDVC3RZ3RmEY2S4xHfsF0kACJ6Ik8I8BbI/OfI/Hsg/WjoyT3CyhUj2Ij98eFXHejoFd2JF5yBmSCGYEPob7HxGEEr5IFi7wRYjAt9hliA12a/vskYlnt4Zbheoe14YndhlJakMBMwccS+c=
    - CIBW_BUILD="cp37-manylinux1_x86_64"
    #- CIBW_SKIP="cp27-* cp33-* cp34-* cp35-* *_i686" # Skip these python versions
    - CIBW_BEFORE_TEST="pip install Cython nose"
    - CIBW_TEST_COMMAND="nosetests {project}/tests" # Test the created wheels
    - CIBW_BEFORE_BUILD="pip install Cython"
    - CC="gcc" # If Travis does not find a C compiler
    - PYTHON=python3
    - PIP=pip3


# Command to install dependencies before the installation of the package
before_install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get -q update
- sudo apt-get -y install gcc-4.8

# Command to install dependencies, e.g. pip install -r requirements.txt
install:
- $PIP install -r requirements.txt
- $PIP install -U tox-travis
- if [ "${TRAVIS_OS_NAME:-}" == "osx" ]; then
    brew update;
    brew upgrade python;
  fi
- $PIP install -e .[tests]
- $PYTHON -m unittest discover -v -f -s ./tests
- tox
- find . -type f -iname '*.so' -print -delete

# Command to run test, e.g. python setup.py test
script:
  - $PYTHON -m pip install cibuildwheel==1.4.2
  - $PYTHON -m cibuildwheel --output-dir wheelhouse
  - ls wheelhouse

# Command for package deployment
# python setup.py bdist_wheel --plat-name manylinux1_x86_64
deploy:
  skip_cleanup: true
  provider: script
  script: $PIP install twine && $PYTHON -m twine upload --verbose --skip-existing wheelhouse/*
  on:
    branch: master
    tags: true
